<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/labor.css">
		<link rel="stylesheet" type="text/css" href="css/mobile.css">
		<link rel="icon" type="image/png" href="images/favicon.png">
		<meta name="description" content="Hiring the Other Half: Tech for the Modern Workforce">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hiring the Other Half</title>
	</head>
	<body>
		<a id="back-button" href="http://jeremycai.com">Back</a>
        {{content}}
        <div class="center-block" id="share-buttons" style="float: none;">
        	<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
        	<a href="https://twitter.com/share" class="twitter-share-button" data-text="The contents of this link are true... I think" data-via="jjeremycai" data-count="none">Tweet</a>
        </div>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <div id="fb-root"></div>
		<script>(function(d, s, id) {
  			var js, fjs = d.getElementsByTagName(s)[0];
  			if (d.getElementById(id)) return;
  			js = d.createElement(s); js.id = id;
  			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1400815833528752";
  			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	</body>
</html>
