<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/labor.css">
		<link rel="stylesheet" type="text/css" href="css/mobile.css">
		<link rel="icon" type="image/png" href="images/favicon.png">
		<meta name="description" content="Hiring the Other Half: Tech for the Modern Workforce">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hiring the Other Half</title>
	</head>
	<body>
		<a id="back-button">Back</a>
        {{content}}
	</body>
</html>