<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/layer.css">
		<link rel="stylesheet" type="text/css" href="css/mobile.css">
		<link rel="icon" type="image/png" href="images/favicon.png">
		<meta name="description" content="The Layer Economy">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>The Layer Economy</title>
	</head>
	<body>
		<section class="wrap">
      		<div id="beast-wrap">
        		{{content}}
      		</div>
    	</section>
	</body>
</html>